.app-layout{
  position:relative;
  box-sizing: border-box;
}
.app-toolbar{
  position:absolute;
  box-sizing: border-box;
  border:1px solid #aaa;
}
.app-activitybar{
  position:absolute;
  box-sizing: border-box;
  border:1px solid #ccc;
}
.app-content{
  position:absolute;
  box-sizing: border-box;
  border:1px solid #faa;
}
.app-statusbar{
  position:absolute;
  box-sizing: border-box;
  border:1px solid #afa;
}
